﻿@import "font-awesome-4.7.0/scss/font-awesome";

.orange {
    color: $color-orange-primary;
    font-size: 17px;
    font-weight: bold;
}

.title {
    margin: 50px auto 0;

    .tit {
        font-size: 30px;
        text-transform: uppercase;
    }

    .info {
        font-size: 16px;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 99;
    top: 50%;
    @include prefix(transform, translateX(-50%));
    background-color: rgba(255,255,255,.8);
    height: $circle * 2;
    width: $circle;
    border: none;
    cursor: pointer;

    i {
        font-size: 30px;
        font-weight: lighter;
    }
}

.slick-prev {
    left: 30px;
    border-bottom-right-radius: $circle*2;
    border-top-right-radius: $circle*2;
    color: rgba(0,0,0,0.5);
    opacity: 0.3;
}

.slick-next {
    right: 0;
    border-bottom-right-radius: $circle*2;
    border-top-right-radius: $circle*2;
    color: rgba(0,0,0,0.5);
    opacity: 0.3;
    transform: rotate(180deg);

    i {
        transform: rotate(180deg);
    }
}

//HOVER IMAGES
.imgc {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.imgcw:hover + span {
	bottom: -36px;
	opacity: 1;
}
.hover-shine .imgc::before {
	position: absolute;
	top: 0;
	left: -80%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-shine .imgc:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

//MENU MOBILE
* {
    box-sizing: border-box;
}

.nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    height: 50px;
    right: 0;
    background-color: $color-orange-primary;

    .hamburger {
        margin-left: auto;
        color: $white;
        cursor: pointer;
    }
}

.nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
}

.nav-is-toggled {
    .nav-drill {
        transform: translateX(0);
    }

    &::after {
        opacity: 1;
        visibility: visible;
    }
}

.nav {
    background-color: $white !important;

    &-drill {
        display: flex;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        width: $nav-width;
        height: 100vh;
        background-color: $white;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        transition: 0.45s;
    }

    &-items {
        flex: 0 0 100%;
        padding: 0;
    }

    &-item {
        &:not(:last-child) {
            border-bottom: solid 1px $color-orange-primary;
        }
    }

    &-link {
        display: block;
        padding: $nav-padding;
        background-color: $white;
        color: $color-orange-primary;
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 300;
    }

    &-expand {
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            background-color: $white;
            transition: 0.3s;
            visibility: hidden;

            .nav-item {
                &:not(:last-child) {
                    border-bottom: solid 1px $color-orange-primary;
                }
            }

            .nav-link {
                background-color: $white;
            }

            .nav-back-link {
                display: flex;
                align-items: center;
                background-color: $white !important;
                color: $color-orange-primary;

                &::before {
                    margin-right: 0.5em;
                    content: '\f053';
                    font-family: FontAwesome;
                }
            }
        }

        &-link {
            display: flex;
            justify-content: space-between;

            &::after {
                flex: 0 1 auto;
                content: '\f054';
                font-family: FontAwesome;
            }
        }

        &.active {
            > .nav-expand-content {
                transform: translateX(0);
                visibility: visible;
            }
        }
    }
}
