﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "image";
@import "mixin";
@import "font-face";
@import "variables";
@import "reset";
@import "bootstrap-edit";
@import "general";

// HEADER
.header {
    .htop {
        background-color: #333;

        .left {
            display: flex;
            align-items: center;
            height: 30px;

            img {
                padding-right: 10px;
            }

            ul {
                display: inline;
                font-size: 13px;
                margin: 4px 0;
                padding: 0;

                li {
                    display: inline-block;

                    a {
                        color: $text;
                    }
                }
            }
        }

        .right {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .search {
                line-height: 0;
                padding: 0 10px;
                margin-right: 5px;
                border-right: 1px dotted $text;
            }

            .lang {
                line-height: 0;
                margin-left: 5px;
            }
        }
    }

    .hmain {
        .left {
            a {
                display: block;
                padding: 22px 0;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            nav {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;

                        a {
                            text-transform: uppercase;
                            padding: 0 15px;
                            position: relative;
                            font-size: 15px;

                            &:before {
                                @include pseudo($content: '/');
                                color: #ccc;
                                top: -3px;
                                right: -5px;
                            }
                        }

                        &:last-child a:before {
                            display: none;
                        }

                        &.active a {
                            color: $color-orange-primary;
                        }
                    }
                }
            }

            .social {
                padding-left: 15px;
                margin-bottom: 0;

                li {
                    display: inline-block;
                    padding: 0 3px;
                }
            }
        }
    }
}
//SLIDER
.slider {
    .item {
        .imgcw:before {
            padding-bottom: 42.26%;
        }
    }
}
//CHOOSE
.choose {
    text-align: center;

    .chi-tiet {
        margin: 45px 0;

        .img {
            height: 78px;
        }

        .content {
            margin: 25px 0;

            p {
                margin: 0;
                font-size: 14px;
            }
        }
    }
}
//SẢN PHẨM
.san-pham {
    text-align: center;
    background-color: $san-pham;
    padding: 50px 0;

    .slide {
        .imgcw:before {
            padding-bottom: 134%;
        }

        .text {
            height: 100px;
            background-color: rgba(0,0,0,0.5);
            position: relative;
            bottom: 100px;
            z-index: 1;

            .tit {
                font-size: 18px;
                color: $text;
                padding: 15px 0 0 0;
                text-transform: uppercase;
                margin: 0 0 10px 0;
            }

            .button {
                width: 100px;
                height: 30px;
                line-height: 30px;
                border: 1px solid;
                color: white;
                font-size: 13px;
                padding: 5px 10px;
                border-radius: 5px;

                &:hover, &:active {
                    background-color: $color-orange-primary;
                    color: $text;
                }
            }
        }

        .slick-arrow {
            width: $circle2;
            height: $circle2*2;

            i {
                font-size: 18px;
                font-weight: lighter;
            }

            top: calc(50% - 65px);
        }

        .slick-prev {
            left: 30px;
            border-bottom-right-radius: $circle2*2;
            border-top-right-radius: $circle2*2;
        }

        .slick-next {
            right: 13px;
            border-bottom-right-radius: $circle2*2;
            border-top-right-radius: $circle2*2;
        }
    }
}
//GIỚI THIỆU
.gioi-thieu {
    margin: 20px 0;
    text-align: center;

    .imgcw {
        width: 105px;
        border: 1px solid $border;
        margin: 20px 0;
    }

    .imgc0:hover {
        img {
            transition: 1.2s;
            transform: rotateY(360deg);
        }
    }

    .xem-them {
        font-size: 13px;
        color: $border;
        padding: 8px 13px;
        border: 1px solid $border;
        border-radius: 5px;

        &:hover, &:active {
            background-color: $color-orange-primary;
            color: $text;
        }
    }
}
//TIN TỨC
.tin-tuc {
    text-align: center;
    margin-bottom: 50px;

    .imgcw:before {
        padding-bottom: 56.57%;
    }

    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .news {
        border: 1px solid $shadow;
        text-align: left;
        padding: 20px 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .date {
            font-size: 12px;
            color: $color-gray-fade;
            margin: 0;
        }

        .ten {
            font-size: 18px;
            font-weight: bold;
        }

        .info1 {
            font-size: 14px;
            font-weight: 600;
        }

        .info {
            font-size: 14px;
            font-weight: lighter;
        }
    }
}
//FOOTER
.footer {
    background-color: $footer;
    padding: 40px 0;
    color: $text;
    font-size: 14px;

    a {
        color: $text;
    }

    .line {
        width: 34px;
        height: 1px;
        background-color: $color-orange-primary;
        position: relative;
        bottom: 18px;
    }

    img {
        position: relative;
        bottom: 3px;
        margin-right: 10px;
    }

    .ten {
        font-size: 18px;
        font-weight: bold;
        color: $color-orange-primary;
        padding-bottom: 10px;
        border-bottom: 1px solid $underline;
    }

    .list {
        width: 100%;
    }

    .fangage {
        margin: 0;
    }
}
//COPYRIGHT
.copyright {
    background-color: $copyright;
    font-size: 14px;
    height: 40px;
    line-height: 40px;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            a {
                color: $text;
            }
        }
    }

    .right {
        color: $color-gray-fade;
        text-align: right;
        padding: 0;
    }
}

//SCROLL TOP
.click-to-top {
    a {
        img {
            position: fixed;
            bottom: 130px;
            z-index: 2;
        }
    }
}
