﻿@media only screen and (max-width: 1199px) {
  .nav-top {
    top: 40px; }
  .header .hmain .right {
    display: none; }
  .slick-arrow {
    top: 30%; }
  .gioi-thieu .imgcw {
    width: 200px; }
  .footer .fanpage img {
    margin: 0; }
  .copyright {
    height: auto; }
  .click-to-top img {
    right: 0; } }

@media only screen and (max-width: 991px) {
  .nav-top {
    top: 40px; }
  .slick-arrow {
    top: 30%; }
  .gioi-thieu .imgcw {
    width: 150px; }
  .tin-tuc .news {
    height: 348px; }
  .footer .fanpage img {
    width: 100%;
    margin: 0; }
  .copyright {
    height: auto; }
    .copyright .right {
      text-align: left;
      padding: 0 15px; }
  .click-to-top img {
    right: 0; } }

@media only screen and (max-width: 767px) {
  .nav-top {
    top: 55px; }
  .header .htop .left, .header .htop .right {
    height: auto; }
  .slick-arrow {
    top: 25px; }
  .gioi-thieu .imgcw {
    width: 190px; }
  .footer .fanpage img {
    width: auto;
    margin: 0; }
  .copyright {
    height: auto; }
    .copyright .right {
      text-align: left;
      padding: 0 15px; }
  .click-to-top img {
    right: 0; } }

@media only screen and (max-width: 321px) {
  .nav-top {
    top: 55px; }
  .header .htop .left, .header .htop .right {
    height: auto; }
  .slick-arrow {
    top: 0; }
  .gioi-thieu .imgcw {
    width: 145px; }
  .copyright {
    height: auto; }
    .copyright .right {
      text-align: left;
      padding: 0 15px; }
  .fanpage a img {
    margin: 0; }
  .click-to-top img {
    right: 0; } }

@media only screen and (min-width: 1200px) {
  .menu-mobile {
    display: none; }
  .slick-arrow {
    top: 40%; }
  .click-to-top img {
    right: 60px; } }
