﻿// khai báo font-family
$font-primary: 'HelveticaNeue';

// khai báo màu sắc
$color-gray-primary: #555;
$color-gray-fade: #999;
$text: #efefef;
$color-orange-primary: #bf3b2c;
$san-pham:#f9f9f9;
$border:#cccccc;
$shadow:#f3f3f3;
$footer:#2b2b2b;
$underline:#404040;
$copyright:#222222;
// khai báo size
$circle:65px;
$circle2:30px;

// khai baso menu mobile
$black: #252525;
$white: #fff;
$grey: #eaeaea;

$nav-width: 250px;
$nav-padding: 0.875em 1em;